# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Data
# Excluding data files if they are large
backend/data/*.csv
backend/data/*.json
backend/models/*.pkl
backend/models/*.joblib

# IDE
.vscode/
.idea/
